.auth-container{

    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.auth-title{
    display: block;
    font-size: var(--fs-lg);
    font-weight: var(--fw-7);
    margin: 30px;
    margin-top: 100px;
    text-align: center;
}

.field{
    display: block;
    justify-content: center;
    margin: 25px;
    width: fit-content;


}

.input-field{
    margin: 10px;
}
.input-field input{
    height: 28px;
    background-color: var(--off-white);
    border-radius: 5px;
    padding: 5px;
}

.field .btn-login{
    margin-left: 143%;
    font-size: var(--fs-md);
    font-weight: var(--fw-6);
    border-radius: 5px;
    padding: 3px 10px 3px 10px;
    background-color: #1C658C;
}

.field .btn-register{
    margin-left: 97%;
    font-size: var(--fs-md);
    font-weight: var(--fw-6);
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    background-color: #1C658C;
}


.field .forget-pass{
    width: fit-content;

}

.forget-pass:hover{
    color: var(--light-azure);
}


.field .check-label{
    margin-left: 10px;
}

.field .invalid-feedback{

    display: block;
    position: absolute;
    padding: 5px 5px 5px 0;
    font-size: var(--fs-sm);
    color: red;

}
